body {
    background-color: rgba(215, 208, 208, 0.5);
    text-align: center;
}

div {
    background-color: ghostwhite;
    padding: 15px;
    margin: 30px;
    border-radius: 4px;
    box-shadow: rgba(201, 194, 194, 0.8) 3px 3px;
}

p {
    font-size: 13pt;
    text-align: justify;
    margin: 25px 40px;
}

h2 {
    font-size: 14pt;
}

button {
    background-color: rgba(167, 167, 238, 0.4);
    padding: 8px 15px;
    border-radius: 8px;
    border-style: hidden;
    font-size: 12pt;
    font-weight: bold;
    color: rgb(116, 1, 232);
}